form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #FFFFFF;
    height: 155px;
    width: 391px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.uploadText{
    color: white;
}