form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #FFFFFF;
    height: 155px;
    width: 391px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.uploadText{
    color: white;
    display:flex;
    align-items:center;
}

.uploaded-row{
 margin: 10px 0;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 20px;
 border-radius: 5px;
 background-color: #e9e9e9;
 
}

.image-list-container {
    max-height: 175px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  .upload-widget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #FFFFFF;
    height: 155px;
    width: 391px;
    cursor: pointer;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
  }

